  <footer>
    <p>&copy;2025 Қазақ ым-ишара тілі сөздігі. Барлық құқықтар қорғалған.</p>
  </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


