<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Language Dictionary</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
     <div class="logo"><img src="/css/logo.png" alt="Logo"></div>
      <ul>
        <li><a href="/">Басты бет</a></li>
        <li><a href="/categories">Категориялар</a></li>
        <li><a href="/map">Карта</a></li>
        <li><a href="/tasks">Жаттығу</a></li>
        <li><a href="/forum">Форум</a></li>
      </ul>
      <div class="auth">
  <% if (typeof user !== 'undefined' && user) { %>
    <a href="/account" class="username"><%= user.username %></a>
    <form action="/logout" method="POST" class="logout-form">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</div>
    </nav>
    <style>
        .modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  position: relative;
}

.close-modal {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #b01d1d;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-modal:hover {
  color: #333;
}

#modalVideo {
  width: 100%;
  margin-top: 15px;
}

#modalVideoTitle {
  margin-top: 15px;
}
    </style>
  </header>
