<!DOCTYPE html>
<html lang="kk">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Language Dictionary</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
     <div class="logo"><img src="/css/logo.png" alt="Logo"></div>
      <ul>
        <li><a href="/">Басты бет</a></li>
        <li><a href="/categories">Категориялар</a></li>
        <li><a href="/map">Карта</a></li>
        <li><a href="/tasks">Жаттығу</a></li>
        <li><a href="/forum">Форум</a></li>
      </ul>
      <div class="auth">
  <% if (typeof user !== 'undefined' && user) { %>
    <a href="/account" class="username"><%= user.username %></a>
    <form action="/logout" method="POST" class="logout-form">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  <% } %>
</div>
    </nav>
  </header>
