<h2>Іздеу нәтижесі "<%= query %>"</h2>

<% if (words.length === 0) { %>
  <p>Ештеңе табылмады.</p>
<% } else { %>
  <ul>
    <% words.forEach(word => { %>
      <li><%= word.title %></li>
    <% }); %>
  </ul>
<% } %>
